<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/bootstrap.css">
    <link href="css/style.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="lib/jquery.js"></script>
	<script type="text/javascript" src="lib/bootstrap.js"></script>
	<script type="text/javascript" src="lib/angular.js"></script>
	<!--script type="text/javascript" src="lib/angular-route.js"></script-->
	<script src="app/findRouteCtrl.js"></script>
	<script src="app/saveService.js"></script>
	
    <title>Route</title>
	</head>
<body data-ng-controller="findRouteCtrl" data-ng-app="app" >
   <div class="container">
   <div id="start_end_point_panel" class="row" >
	<form class="form-inline" name="commentform">
		<div class="form-group">
			<b>Start: </b> <!-- route origin -->
			<input id="start" placeholder="Enter start address" type="text"  ng-model="start1" ng-change="changeStartEnd()"></input> 
		</div>
		<div class="form-group">
			<b>End: </b>   <!-- route destination -->
			<input id="end"   placeholder="Enter end address"   type="text"  ng-model="end1" ng-change="changeStartEnd()"></input>
		</div>
		<div class="form-group">
			<button ng-click="saveRoute()" ng-disabled="!readyToSave" title="Save">
				<a class="btn-xs  glyphicon glyphicon-plus"></a>
			</button>
		</div>
		<div id="route_details" class="form-group"> <br> </div>
		</form>
	</div>
    <div class="row">
      <div id="map-outer" class="col-md-12">
		<div class="col-md-4">
			<table class="table table-hover">
                <tr class="row">
                    <th>Start</th>
                    <th>End</th>
                     <th></th>
                </tr>
                <tr class="row" ng-repeat="item in routes track by $index" ng-click="selectRoute(item)">
                    <td data-ng-bind="item.start" ></td>
                    <td data-ng-bind="item.end"></td>
                    <td>
                 		<a ng-click="deleteRoute(item)"  class="btn-xs  glyphicon glyphicon-remove"></a>
                 	</td>
                </tr>
            </table>
		</div>
        <div id="map" class="col-md-8"></div>
      </div><!-- /map-outer -->
</div>

 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3A7wlYBNQLshvZCdJOzGWFTQ65fx1cvA&libraries=places&callback=initMap" 
	 async defer></script>
</body>
</html>
